{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [parking_lot]}
]}.

{ct_compile_opts, [export_all]}.
{cover_enabled, true}.

{relx, [{release, {parking_lot,"1.0.0"},
         [sasl, parking_lot]},
        {include_erts, true},
        {extended_start_script, true},
        {overlay, [{copy, "file_inputs.txt", "file_inputs.txt"}
          %{copy,"bin/start.script", "start.script"},
          %{copy, "bin/parking_lot.sh", "bin/parking_lot.sh"}
          ]}
        ]}.

{profiles, [{prod, [{relx, [
  {dev_mode, false},
  {include_erts, true},
  {include_src, false}
]}]
}]}.